.alert-msg-danger {
  background: linear-gradient(lightgreen, rgb(173, 0, 0));
  border-radius: 8px;
  z-index: 3;
}
.alert-msg-danger p {
  color: red;
}
.alert-msg-success p {
  background-color: green;
  border-radius: 8px;
}
.alert-msg-success p {
  color: lightgreen;
}