button{
  background: linear-gradient(135deg, #7b2ff7, #5a3dff);
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}
input{
  color: rgb(255, 250, 244);
  background-color: rgb(19, 18, 18);
  border-color: rgb(0, 128, 255);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  --bg-app-image: url('../public/images/black.webp');

  /* SOLUCIÓN: Asegura que la imagen cubra todo el alto y ancho disponible siempre */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Color de respaldo oscuro por si la imagen tarda en cargar o se estira */
  background-color: #000; 

  /* Superposición oscura */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-app-image);
  
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  animation: sutilMovimientoEspacial 60s linear infinite;

  /* Mantener fixed en PC, pero desactivarlo sutilmente si es necesario mediante cover */
  background-attachment: scroll; 
}
@keyframes sutilMovimientoEspacial {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%; /* Se desplaza sutilmente hacia el lado */
  }
  100% {
    background-position: 0% 50%; /* Vuelve suavemente al inicio */
  }
}
p{
  color: rgb(255, 250, 244);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}