button{
  background: linear-gradient(135deg, #7b2ff7, #5a3dff);
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}
input{
  color: rgb(255, 250, 244);
  background-color: rgb(19, 18, 18);
  border-color: rgba(119, 136, 153, 0);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  --bg-app-image: url('../public/images/black.webp');

  background-size: 140%;
  background-position: center;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-image: var(--bg-app-image);
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  animation: sutilMovimientoEspacial 60s linear infinite;
  /* background: linear-gradient(#000000, #0f0052); */
}
@keyframes sutilMovimientoEspacial {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%; /* Se desplaza sutilmente hacia el lado */
  }
  100% {
    background-position: 0% 50%; /* Vuelve suavemente al inicio */
  }
}
p{
  color: rgb(255, 250, 244);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}